* {
    font-size: 1.1em;
}

.container {
    align-items: center;
    justify-content: center;
}


.center-container {
    flex-direction: column;
    bottom: 35vh;
    align-items: center;
    justify-content: center;
}

/* Top Button */
.left-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 50vw;
    min-height: 10vh;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
}

/* Bottom Button */
.right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0vw;
    border-radius: 30px;
    width: 50vw;
    min-height: 10vh;
    background: rgba(255, 255, 255, 0.8);
}

.bottom-container {
    position: absolute;
    bottom: 1vh;
    width: 100vw;
    left: 0vw;
    display: flex;
}

.instagram-button {
    display: flex;
}

.instagram-button img {
    max-width: 50px;
    margin: auto;
}

.language-box {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

#slovenian-language,
#foreign-language {
    font-size: 0.7em;
}